.company {
    padding-bottom: 104px;
    position: relative;

    overflow: hidden;
}
.company::before {
    content: " ";

    background-image: url(../../../img/svg/background/graph/graph_1.svg);
    background-repeat: repeat-x;
    background-position: center 0;
    opacity: 0.09;
    

    position: absolute;
    top: 0; left: 0; bottom: 0; right: -7px;
    z-index: -2;
}
.company::after {
    content: " ";

    background-image: url(../../../img/svg/background/graph/graph_2.svg);
    background-repeat: repeat-x;
    background-position: center 0;
    opacity: 0.09;
    

    position: absolute;
    top: 141px; left: 0; bottom: 0; right: -44px;
    z-index: -2;
}

.company__wrapper {
    position: relative;
}
.company__crypto {
    position: absolute;
    z-index: -2;
}
.crypto__bitcoin {
    top: 1px; right: 253px;
}
.crypto__ethereum {
    top: 51px; right: 1558px;
}
.crypto__fct {
    top: 198px; right: 1316px;
}
.crypto__ripple {
    top: 282px; right: 351px;
}

.company__offer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company__offer-title {
    font-family: var(--font-gotham);
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
    letter-spacing: 2px;
    text-align: center;

    max-width: 840px;
}

.company__offer-description {
    font-family: var(--font-gotham);
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    text-align: center;

    max-width: 560px;

    margin-top: 56px;
    margin-bottom: 57px;
}

.company__offer-btns {
    width: 570px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company__offer-btn1 {
    width: 268px;

    padding: 14px 0px;

    font-size: 18px;
    line-height: 155%;
}

.company__offer-btn2 {
    width: 240px;
    border: 1px solid var(--border-color-ligthblue);

    padding: 14px 0px;

    font-size: 18px;
    line-height: 155%;

    font-weight: 300;

    color: var(--main-color-black);
    background-color: transparent;
}
.company__offer-btn2:hover {
    background-color: var(--primary-color-yellow);
    color: var(--main-color-white);
    border: 1px solid var(--primary-color-yellow);;
}
.company__offer-btn2:active {
    background-color: var(--primary-color-blue);
    color: var(--other-color-ligthblue);
    border: 1px solid var(--primary-color-blue);;
}
.company__offer-btn2:disabled {
    background-color: var(--border-color-gray);
    color: --main-color-gray;
    background: 1px solid var(--main-color-gray);
}


/* ------ Responsive ------ */
/* 1200px - 1400px */
@media screen and (max-width: 1400px) {
    .company__offer-title {
        font-size: 45px;

        max-width: 55%;
    }    

    .company__offer-description {
        font-size: 18px;
    }

    .crypto__bitcoin {
        top: 1px;
        right: 150px;
    }
    .crypto__fct {
        left: 210px;
    }
    .crypto__ripple {
        top: 250px;
        right: 150px;
    }
    .crypto__ethereum {
        left: 0px;
        top: 0px;
    }
}
/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .company__offer-title {
        max-width: 70%;
    } 

    .crypto__bitcoin {
        top: 1px;
        right: 75px;
    }
    .crypto__fct {
        left: 100px;
    }
    .crypto__ripple {
        top: 250px;
        right: 100px;
    }      
}
/* 768px - 992px  */
@media screen and (max-width: 992px) {
    .company__offer-title {
        max-width: 85%;
    }

    .crypto__bitcoin {
        top: 0px;
        right: 0px;

        max-width: 70px;
    }
    .crypto__fct {
        left: 50px;
    }
    .crypto__ripple {
        top: 230px;
        right: 30px;

        max-width: 65px;
    }
    .crypto__ethereum {
        max-width: 40px;
    }   
}
/* 576px - 768px */
@media screen and (max-width: 768px) {
    .company__offer-title {
        font-size: 35px;

        max-width: 90%;
    }    

    .company__offer-description {
        font-size: 16px;

        margin: 40px 0px 40px 0px;
    }
    .company__offer-btns {
        justify-content: space-evenly;
    }
    .company__offer-btn {
        font-size: 16px;

        max-width: 40%;
    }

    .crypto__bitcoin {
        top: 0px;
        right: 0px;

        max-width: 60px;
    }
    .crypto__fct {
        top: 130px;
        left: 50px;

        max-width: 35px;
    }
    .crypto__ripple {
        top: 180px;
        right: 20px;

        max-width: 55px;
    }
    .crypto__ethereum {
        max-width: 40px;
    }

    
}
/* 0 - 576px */
@media screen and (max-width: 576px) {
    .company__offer-title {
        font-size: 24px;

        max-width: 75%;
    }    

    .company__offer-description {
        font-size: 14px;

        margin: 40px 0px 40px 0px;
    }
    .company__offer-btns {
        flex-direction: column;
        width: auto;    
    }
    .company__offer-btn {
        font-size: 14px;

        max-width: 70%;
    }
    .company__offer-btn1 {
        margin-bottom: 20px;
    }

    .crypto__bitcoin {
        top: 0px;
        right: 0px;

        max-width: 50px;
    }
    .crypto__fct {
        top: 150px;
        left: 30px;

        max-width: 25px;
    }
    .crypto__ripple {
        top: 220px;
        right: 20px;

        max-width: 45px;
    }
    .crypto__ethereum {
        max-width: 30px;
    }   
}
/* ______ Responsive ______ */